
@{
    ViewBag.Title = "401";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section breadcrumb{
    <li class="breadcrumb-item active">Error</li>
}

<div class="alert alert-danger">
    Bạn không có quyền truy cập.
</div>

